"" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set NERDTree

"" comment
nnoremap <Space>c :action CommentByLineComment<CR>
vnoremap <Space>c :action CommentByBlockComment<CR>

"" 処理系
"" split tab horizontally
nnoremap <Space>S :action SplitHorizontally<CR>
"" split tab vertically
nnoremap <Space>s :action SplitVertically<CR>
"" next splitter
nnoremap gs :action NextSplitter<CR>

"" NERDTree
nnoremap ga :NERDTreeFocus<CR>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

"" Map Bookmark
map gb <Action>(ToggleBookmark)


" Find more examples here: https://jb.gg/share-ideavimrc

"" Search codes
nnoremap <Space>r :action Replace<CR>
vnoremap <Space>r :action Replace<CR>

nnoremap <Space>R :action ReplaceInPath<CR>
vnoremap <Space>R :action ReplaceInPath<CR>

nnoremap <Space>f :action Find<CR>
vnoremap <Space>f :action Find<CR>

nnoremap <Space>F :action FindInPath<CR>
vnoremap <Space>F :action FindInPath<CR>

"" Jump codes
nnoremap <Space>g :action GotoDeclaration<CR>
nnoremap <Space>G :action GotoImplementation<CR>
nnoremap <Space>b :action Back<CR>
